streamlit==1.32.0
extra-streamlit-components
passlib[bcrypt]
pymupdf
opencv-python-headless
kraken
ollama
sqlalchemy
python-dotenv
faster-whisper
kokoro-onnx
sounddevice
numpy<2.0.0
# Quitamos ChromaDB temporalmente para que el pack base funcione
# O lo instalamos sin fijar versión
chromadb
