name: Descargar Modelos Applio
on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Crear estructura de carpetas
        run: |
          mkdir -p Applio_Models/assets/pretrained_v2
          mkdir -p Applio_Models/assets/weights

      - name: Descargar Modelos Base (Links Actualizados)
        run: |
          cd Applio_Models/assets/pretrained_v2
          # Usamos la ruta directa del repositorio oficial de assets
          wget -q https://huggingface.co/IAHispano/Applio/resolve/main/assets/pretrained_v2/hubert_base.pt || echo "Fallo hubert"
          wget -q https://huggingface.co/IAHispano/Applio/resolve/main/assets/pretrained_v2/rmvpe.pt || echo "Fallo rmvpe"
          wget -q https://huggingface.co/IAHispano/Applio/resolve/main/assets/pretrained_v2/fcpe.pt || echo "Fallo fcpe"
          wget -q https://huggingface.co/IAHispano/Applio/resolve/main/assets/pretrained_v2/f0D40k.pth || echo "Fallo f0D40k"
          wget -q https://huggingface.co/IAHispano/Applio/resolve/main/assets/pretrained_v2/f0G40k.pth || echo "Fallo f0G40k"

      - name: Verificar descargas
        run: ls -lh Applio_Models/assets/pretrained_v2

      - name: Comprimir todo en un ZIP
        run: |
          zip -r modelos_applio_guia.zip Applio_Models

      - name: Subir Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Pack-Modelos-Applio
          path: modelos_applio_guia.zip
          retention-days: 5
          
